.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-page{
  background-color: rgba(226, 198, 43, 0.575);
  padding: 10px;
  display: grid;
}

.search-page{
  background-color: rgba(226, 198, 43, 0.575) ;
  padding: 15px;
  display: flexbox;
}
.about-page{
  background-color: khaki;
  max-height: max-content;
}
.recipe-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border: 5px solid #0d0f24;
  border-radius: 5px;
}
.search-card{
  display: flex;
}
.card-content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.meal-info {
  margin-left: 20px;
}

img{
  border-radius: 5px;
  padding:5px;
  display: block;
  width:400px;
  object-fit: cover;
}
form {
  position: relative;
  width: 80%;
}
input {
  font-size: medium;
  padding: 10px;
  border-radius: 5px; 
  width: 80%;
}
h2{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Segoe UI';
}
p {
  font-size: 14px;
  color: #666;
  margin: 0;
}
.nav{
  background-color: #ccc;
  color: black;
  display: flex;
  justify-content: space-between; 
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem; 
}
.nav a {
  color:darkgoldenrod; 
   text-decoration: none;

}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem
}
.site-title{
  font-size: 25px;
}